# Maven
target/

# Compiled files
*.class

# Logs
*.log

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Java artifacts
*.jar
*.war
*.ear

# Temporary / editor files
*.tmp
*.swp
*~

# IntelliJ
*.iml
.idea/